.header {
  &__container {
    padding-top: 32px;
    padding-bottom: 32px;
    @include w1023 {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }
  &__logo {
    position: relative;
    display: flex;
    width: max-content;
    @include hover {
      &:hover:before,
      &:focus:before {
        transform: scale(1);
      }
      &:active:before {
        transform: translate3d(0, 2px, 0) scale(0.9);
        top: -10px;
      }
    }
    @include active {
      &:active:before {
        transform: scale(1);
      }
    }
    &:before {
      content: '';
      position: absolute;
      top: -8px;
      left: -8px;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background: var(--circle-pale);
      transition: 0.3s;
      transform: scale(0);
      transform-origin: center;
      @include w1023 {
        width: 45px;
        height: 45px;
      }
    }
    svg {
      @include w1023 {
        width: 133px;
        height: auto;
      }
    }
    path {
      fill: var(--text-bright);
      transition: fill 0.2s;
    }
  }
  &__nav {
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    bottom: 0;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-shadow: var(--shadow);
      transition: box-shadow 0.2s;
    }
    &--open {
      .header-nav__burger {
        rect {
          &:nth-child(1) {
            transform: translate(5px, -3px) rotate(45deg);
          }
          &:nth-child(2) {
            transform: translateX(10px);
            opacity: 0;
          }
          &:nth-child(3) {
            transform: translate(-10px, 10px) rotate(-45deg);
          }
        }
      }
      .header-menu {
        &__overlay {
          opacity: 1;
          visibility: visible;
          transition: 0.3s 0s;
        }
        &__list {
          transform: translateX(0);
          transition: background-color 0.2s, transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
        }
        &__item {
          opacity: 1;
          transform: none;
          &:nth-child(1) {
            transition-delay: 0.4s;
          }
          &:nth-child(2) {
            transition-delay: 0.45s;
          }
          &:nth-child(3) {
            transition-delay: 0.5s;
          }
          &:nth-child(4) {
            transition-delay: 0.55s;
          }
          &:nth-child(5) {
            transition-delay: 0.6s;
          }
        }
      }
    }
  }
  &-nav {
    &__wrap {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      padding: 43px 16px 52px;
      background-color: var(--surface-menu);
      transition: background-color 0.2s;
      @include w1023 {
        display: none;
      }
    }
    &__burger {
      margin-bottom: 34px;
      padding: 0;
      background: none;
      border: none;
      cursor: pointer;
      @include hover {
        &:hover rect,
        &:focus rect {
          fill: var(--primary);
        }
      }
      @include active {
        &:active rect {
          fill: var(--primary);
        }
      }
      rect {
        fill: var(--text-bright);
        transition: 0.2s;
      }
    }
    &__theme {
      position: relative;
      margin-bottom: 28px;
      padding: 10px 5px;
      background: none;
      border: 1px solid var(--card-button-surface);
      border-radius: 40px;
      cursor: pointer;
      transition: border-color 0.2s;
      @include hover {
        &:hover,
        &:focus {
          border-color: var(--text-bright);
          &:before {
            background-color: var(--text-bright);
          }
        }
      }
      @include active {
        &:active {
          color: var(--primary);
        }
      }
      &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        height: 44px;
        background-color: var(--card-button-surface);
        border-radius: 40px;
        transition: background-color 0.2s, top 0.4s;
      }
    }
    &-theme {
      &__sun,
      &__moon {
        display: flex;
      }
      &__sun {
        margin-bottom: 20px;
      }
      &__lightstroke {
        stroke: var(--text-bright);
        transition: stroke 0.2s;
      }
      &__darkfill {
        fill: transparent;
        transition: fill 0.2s;
      }
    }
    &__lang {
      font-family: 'Noir Pro';
      font-weight: 300;
      font-size: 15px;
      line-height: 18px;
      color: var(--text-washy);
      letter-spacing: 0.05em;
      text-transform: uppercase;
      transition: color 0.2s;
      @include hover {
        &:hover,
        &:focus {
          color: var(--primary);
        }
      }
      @include active {
        &:active {
          color: var(--primary);
        }
      }
    }
    &__lk {
      display: flex;
      margin-top: auto;
      padding: 5px;
      background: var(--card-button-surface);
      border-radius: 50%;
      border: none;
      cursor: pointer;
      transition: background-color 0.2s;
      @include hover {
        &:hover path,
        &:focus path {
          fill: var(--text-bright);
        }
      }
      @include active {
        &:active path {
          fill: var(--text-bright);
        }
      }
      path {
        fill: transparent;
        stroke: var(--text-bright);
        transition: 0.2s;
      }
    }
    &__line {
      width: 1px;
      flex: 0 0 12%;
      max-height: 72px;
      margin: 24px 0;
      background-color: var(--card-button-surface);
      transition: background-color 0.2s;
    }
    &__socials {
      padding-left: 0;
      list-style: none;
    }
    &__social {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
    &-social {
      &__link {
        display: flex;
        @include hover {
          &:hover path,
          &:focus path {
            fill: var(--text-bright);
            &.hoverstroke {
              stroke: var(--surface-menu);
            }
          }
        }
        @include active {
          &:active path {
            fill: var(--text-bright);
            &.hoverstroke {
              stroke: var(--surface-menu);
            }
          }
        }
        path {
          fill: transparent;
          stroke: var(--text-bright);
          transition: 0.2s;
        }
      }
    }
    &__totop {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 34px;
      padding: 0;
      background: var(--text-bright);
      border: none;
      background: stroke 0.2s;
      cursor: pointer;
      transition: background 0.2s;
      @include hover {
        &:hover,
        &:focus {
          background-color: var(--primary);
        }
      }
      @include active {
        &:active {
          background-color: var(--primary);
        }
      }
      path {
        stroke: var(--surface-menu);
        transition: stroke 0.2s;
      }
    }
  }
  &-menu {
    &__overlay {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: var(--bacground-opacity);
      opacity: 0;
      visibility: hidden;
      transition: 0.3s 0.5s;
    }
    &__close {
      position: absolute;
      top: 16px;
      right: 16px;
      display: none;
      background: none;
      border: none;
      cursor: pointer;
      @include w1023 {
        display: block;
      }
      path {
        stroke: var(--text-bright);
        transition: stroke 0.2s;
      }
    }
    &__list {
      position: fixed;
      top: 0;
      right: 68px;
      bottom: 0;
      width: 457px;
      padding-left: 0;
      list-style: none;
      transform: translateX(100%);
      transition: background-color 0.2s, transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0.45s;
      background-color: var(--card-surface);
      padding-top: 72px;
      padding-left: 112px;
      @include w1023 {
        transform: translateY(100%);
        right: 0;
        width: 100%;
        padding-top: 40px;
        padding-left: 16px;
      }
    }
    &__menu {
      padding-left: 0;
      list-style: none;
    }
    &__item {
      display: flex;
      align-items: center;
      opacity: 0;
      transform: translate3d(0, 10px, 0);
      transition: 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      @include w1023 {
        padding: 16px 0;
      }
      &:nth-child(1) {
        transition-delay: 0.2s;
      }
      &:nth-child(2) {
        transition-delay: 0.15s;
      }
      &:nth-child(3) {
        transition-delay: 0.1s;
      }
      &:nth-child(4) {
        transition-delay: 0.05s;
      }
      &:nth-child(5) {
        transition-delay: 0s;
        align-items: flex-start;
      }
      &:not(:last-child) {
        margin-bottom: 21px;
        @include w1023 {
          margin-bottom: 0;
          border-bottom: 1px solid var(--circle-pale-pale);
        }
      }
      .header-nav {
        &__socials {
          display: none;
          margin-left: auto;
          margin-right: 16px;
          @include w1023 {
            display: flex;
          }
        }
        &__social {
          &:not(:last-child) {
            margin-bottom: 0;
            margin-right: 15px;
          }
        }
        &__theme,
        &__lang {
          display: none;
          @include w1023 {
            display: block;
          }
        }
        &__theme {
          margin-bottom: 0;
          transform: translate(27px, -29px) rotate(-90deg);
        }
        &-theme {
          &__sun,
          &__moon {
            transform: rotate(90deg);
          }
        }
        &__lang {
          transform: translate(82px, 7px);
        }
      }
    }
    &__link {
      font-family: 'Noir Pro';
      font-weight: 600;
      font-size: 17px;
      line-height: 20px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      transition-delay: 0s !important;
      color: var(--text-bright);
      transition: color 0.2s;
      @include hover {
        &:hover,
        &:focus {
          color: var(--primary);
        }
      }
      @include active {
        &:active {
          color: var(--primary);
        }
      }
    }
  }
}

.breadcrumbs {
  margin-top: 19px;
  margin-bottom: 44px;
  @include w1023 {
    margin-top: 16px;
    margin-bottom: 33px;
  }
  @include w767 {
    margin-top: 19px;
    margin-bottom: 37px;
  }
  &__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
  }
  &__item {
    margin-bottom: 7px;
    &:not(:last-child) {
      display: flex;
      align-items: center;
      &:after {
        content: '/';
        margin: 0 10px;
      }
    }
  }
  &__link {
    transition: color 0.2s;
    &:not(a) {
      color: var(--text-caption);
    }
    &:any-link {
      @include hover {
        &:hover,
        &:focus {
          color: var(--primary);
        }
      }
      @include active {
        &:active {
          color: var(--primary);
        }
      }
    }
  }
}

.mobile-menu {
  position: fixed;
  z-index: 20;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  background-color: var(--surface-menu);
  box-shadow: 0px -4px 40px rgba(255, 255, 255, 0.04);
  transition: background-color 0.2s;
  @include w1023 {
    display: block;
  }
  &__list {
    display: flex;
    padding-left: 0;
    list-style: none;
  }
  &__item {
    flex: 1;
  }
  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 8px 0 10px;
    background: none;
    border: none;
    color: var(--text-card-caption);
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
    transition: color 0.2s;
    @include hover {
      &:hover,
      &:focus {
        color: var(--primary);
        path {
          stroke: var(--primary);
        }
      }
    }
    @include active {
      &:active {
        color: var(--primary);
        path {
          stroke: var(--primary);
        }
      }
    }
    svg {
      margin-bottom: 2px;
    }
    path {
      stroke: var(--text-bright);
      transition: 0.2s;
    }
  }
}

html:not(.dark-theme) .header-nav-theme {
  @include hover {
    &:hover,
    &:focus {
      .header-nav-theme__sun {
        path {
          fill: var(--surface-menu);
          &.header-nav-theme__lightstroke {
            fill: none;
            stroke: var(--surface-menu);
          }
        }
      }
    }
  }
}

html.dark-theme .header-nav-theme {
  &:before {
    top: 45px;
  }
  &__darkfill {
    stroke: var(--text-bright);
    fill: var(--text-bright);
  }
  @include hover {
    &:hover,
    &:focus {
      .header-nav-theme__moon {
        path {
          &.header-nav-theme__darkfill {
            fill: var(--surface-menu);
            stroke: var(--surface-menu);
          }
        }
      }
    }
  }
}
