.banner {
  padding-top: 118px;
  margin-bottom: 111px;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__col {
    &:last-child {
      margin-right: 13%;
      margin-top: -154px;
    }
  }
  &__title {
    margin-top: 0;
    margin-bottom: 47px;
    font-family: 'Noir Pro';
    font-weight: 600;
    font-size: 88px;
    line-height: 72px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  &__rotate {
    float: left;
    max-height: 218px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: translate(-16px) rotate(180deg);
  }
  &__slider {
    width: 466px;
    margin-left: 112px;
    padding-bottom: 10px;
  }
  &-slider {
    .swiper-button-prev,
    .swiper-button-next {
      top: auto;
      bottom: 5px;
    }
    .swiper-button-prev {
      right: 40px;
      left: auto;
    }
    .swiper-button-next {
      right: 0;
    }
    &__wrapper {
      padding-left: 0;
      list-style: none;
    }
    &__slide {
      padding-right: 133px;
    }
    &-slide {
      &__title {
        margin-top: 0;
        margin-bottom: 9px;
        font-weight: 600;
      }
    }
  }
  &__btns {
    margin-top: 70px;
    margin-left: 112px;
  }
  &__btn {
    padding: 13px 24px;
    &:not(:last-child) {
      margin-right: 21px;
    }
  }
  &__services {
    list-style: none;
    padding-left: 0;
  }
  &__service {
    display: flex;
    margin-bottom: 68px;
    &:not(:last-child) {
      margin-bottom: 21px;
    }
  }
  &-service {
    &__link {
      font-family: 'Noir Pro';
      font-weight: 600;
      font-size: 17px;
      line-height: 20px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }
  }
  &__circles {
    position: relative;
    width: 256px;
    height: 258px;
  }
  &__circle {
    position: absolute;
    width: 206px;
    height: 206px;
    border-radius: 50%;
    transition: background-color 0.2s;
    &:nth-child(7) {
      top: 81px;
      left: 60px;
      width: 24px;
      height: 24px;
    }
    &:nth-child(6) {
      top: 28px;
      left: 21px;
    }
    &:nth-child(5) {
      top: 38px;
      left: 50px;
    }
    &:nth-child(4) {
      top: 47px;
      left: 0;
    }
    &:nth-child(3) {
      top: 12px;
      left: 0;
    }
    &:nth-child(2) {
      top: -1px;
      left: 28px;
    }
    &:nth-child(1) {
      top: 50px;
      left: 26px;
    }
  }
}
