section.callback.margin-section 
  .container 
    h2.title Нужен проект?
    .callback__content 
      .callback__col
        p.callback__text Оставите заявку, либо свяжитесь с нами, мы пообщаемся и сами все за вас заполним: 
          a(href="tel:89223677215")  +7 922 367 72 15
        ul.callback__socials.callback-socials
          li.callback-socials__item
            a.callback-socials__link(href="tel:89223677215") 
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.03371 4.53345H6.66654C5.48833 4.53345 4.5332 5.48857 4.5332 6.66678V8.80011C4.5332 14.6912 9.30883 19.4668 15.1999 19.4668H17.3332C18.5114 19.4668 19.4665 18.5117 19.4665 17.3334V15.8593C19.4665 15.4553 19.2383 15.086 18.8769 14.9053L16.2999 13.6168C15.7193 13.3265 15.0162 13.6177 14.8109 14.2335L14.4933 15.1864C14.2876 15.8036 13.6545 16.171 13.0165 16.0434C10.4631 15.5328 8.46722 13.5369 7.95654 10.9835C7.82895 10.3455 8.19638 9.71239 8.81359 9.50665L9.99612 9.11247C10.5249 8.93622 10.8288 8.38257 10.6936 7.84184L10.0685 5.34141C9.94982 4.86656 9.52317 4.53345 9.03371 4.53345Z"/>
              </svg>
          li.callback-socials__item
            a.callback-socials__link(href="#") 
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.1999 4.53345H8.79987C6.44345 4.53345 4.5332 6.4437 4.5332 8.80011V15.2001C4.5332 17.5565 6.44345 19.4668 8.79987 19.4668H15.1999C17.5563 19.4668 19.4665 17.5565 19.4665 15.2001V8.80011C19.4665 6.4437 17.5563 4.53345 15.1999 4.53345Z"/>
                <path d="M15.7331 7.7334H16.7998M11.9998 15.2001C10.2325 15.2001 8.7998 13.7674 8.7998 12.0001C8.7998 10.2328 10.2325 8.80007 11.9998 8.80007C13.7671 8.80007 15.1998 10.2328 15.1998 12.0001C15.1998 13.7674 13.7671 15.2001 11.9998 15.2001Z"/>
              </svg>
          li.callback-socials__item
            a.callback-socials__link(href="#") 
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.4665 5.6001L4.5332 10.9334L8.79987 13.0668L15.1999 8.8001L10.9332 14.1334L17.3332 18.4001L19.4665 5.6001Z" stroke-linejoin="round"/>
              </svg>
      include form.pug