extends ../template

block variables
  - var title = 'О студии'

block content
  section.about.margin-section
    .container
      h1.visually-hidden О студии
      .about__content
        .about__col
          picture
            source(type="image/webp" srcset="images/preview.jpg")
            img.about__img(src="images/preview.jpg" alt="О студии")
        .about__col
          h3.about__title Cтрах у младенцев
          p.about__text Что сложившаяся структура организации позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Не следует, однако забывать, что новая модель организационной деятельности в значительной степени обуславливает создание системы обучения кадров. Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют определения и уточнения направлений прогрессивного развития.
          h3.about__title Cегодняшнему дню
          p.about__text Что сложившаяся структура организации позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач важные задания по разработке.
          picture
            source(type="image/webp" srcset="images/preview.jpg")
            img.about__img(src="images/preview.jpg" alt="О студии")
