extends ../template

block variables
  - var title = 'Контакты'

block content
  section.contacts.margin-section
    .container
      h1.title Контакты
      .contacts__map 
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Acf6292dad0980724c49f556172e22ad711dc693d804325fb6ed976152769e91d&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false"></script>