extends ../template

block variables
  - var title = 'Главная'

block content
  section.banner 
    .container 
      h1.banner__title Точка роста —
      p.banner__rotate Значимость проблем слонов измерить сложно
      .banner__slider.banner-slider.swiper-container
        ul.banner-slider__wrapper.swiper-wrapper
          li.banner-slider__slide.banner-slider-slide.swiper-slide
            h4.banner-slider-slide__title Мы создаем уникальные условия
            p.banner-slider-slide__text Наши заказчики получают имеют возможность наблюдать за процессом работы онлайн через личный кабинет
          li.banner-slider__slide.banner-slider-slide.swiper-slide
            h4.banner-slider-slide__title Мы создаем
            p.banner-slider-slide__text Наблюдай за процессом работы онлайн через личный кабинет
          li.banner-slider__slide.banner-slider-slide.swiper-slide
            h4.banner-slider-slide__title Уникальные условия
            p.banner-slider-slide__text Наши заказчики получают имеют возможность наблюдать