$selection-color: rgba(166, 126, 249, 0.99);
$img-selection-color: rgba(166, 126, 249, 0.5);

$primary-purple: #a67ef9;
$primary-purple-dark: #9564ff;

$secondary-turquoise: #7ef9e3;

$linear-1: linear-gradient(90.27deg, #1b1b1b 17.85%, rgba(27, 27, 27, 0.98) 55.21%, rgba(27, 27, 27, 0.95) 99.76%);
$linear-2: linear-gradient(178.47deg, #1b1b1b 2.66%, rgba(27, 27, 27, 0.98) 31.23%, rgba(27, 27, 27, 0.95) 98.7%);

$neutrals-1: #1b1b1b;
$neutrals-2: #1f1f1f;
$neutrals-3: #262626;
$neutrals-4: #3c3c3c;
$neutrals-5: #515151;
$neutrals-6: #676767;
$neutrals-7: #a8a8a8;
$neutrals-8: #f4f4f4;
$neutrals-9: #f4f4f4;
$neutrals-dark-background: linear-gradient(
  90.27deg,
  rgba(27, 27, 27, 0.75) 17.85%,
  rgba(27, 27, 27, 0.735) 55.21%,
  rgba(27, 27, 27, 0.7125) 99.76%
);

$accents-red: #ff445b;
